button.spiff-button {
    border: 1px solid;
    border-radius: 30px;
    font-weight: 600;
    letter-spacing: 0.6px;
    padding: 15px 30px;

}

button.spiff-button--primary {
    border-color: $green;
    color: $green;
}

button.spiff-button--destroy {
    border-color: $red;
    color: $red;
}

button.spiff-button:hover {
    border-width: 2px;
}

button.spiff-button:active {
    border-width: 3px;
}

button.spiff-button--destroy {
    color: $red
}
