button.spiff-button {
    border: 1px solid $green;
    border-radius: 30px;
    color: $green;
    font-weight: 600;
    letter-spacing: 0.6px;
    color: $green;
    padding: 15px 30px;

}

button.spiff-button:hover {
    border-width: 2px;
}

button.spiff-button:active {
    border-width: 3px;
}
