$spiff-progress-bar-height: 6px;

.spiff-progress-bar--container {
    width: 100%;
    height: $spiff-progress-bar-height;
    border-radius: $spiff-progress-bar-height;
    border: 1px solid black;
    margin-bottom: 20px;
}

.spiff-progress-bar--bar {
    width: 100%;
    height: 100%;
    border-radius: $spiff-progress-bar-height;
    background: linear-gradient(.25turn, $sunrise, 50%, $red);
}

